<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Web Page  </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="border border-black p-4 w-3/4">
    <div class="flex flex-col min-h-screen">
        <nav class="bg-red-500 p-4">
            <div class="flex justify-between items-center">
                <div class="text-white"></div>
                <div class="text-white"></div>
            </div>
        </nav>
        <div class="flex">
            <div class="border border-black w-1/2 p-4">
                <div class="text-center text-2xl mb-4">ข่าวล่าสุดของ ม.</div>
            </div>
            <div class="border border-black w-1/2 p-4">
                <div class="text-right mb-4">รายละเอียด</div>
                <div class="flex justify-between mb-4">
                    <div>วด/ป</div>
                    <div>เวลา</div>
                    <div>สถานที่</div>
                </div>
                <div class="mb-4">รายละเอียดงาน</div>
                <div class="border-t border-black mt-4"></div>
                <div class="border-t border-black mt-2"></div>
                <div class="border-t border-black mt-2"></div>
            </div>
        </div>
        <div class="text-center mt-4">ช่องทางติดต่อ สำหรับกิจกรรมอื่นๆ</div>
        <div class="flex justify-between mt-4">
            <a href="{% url 'login' %}"> 
                <button class="border border-black px-4 py-2">เข้าสู่เว็บไซต์ TH</button>
            </a>
            
            <a href="{% url 'login' %}">
                <button class="border border-black px-4 py-2">Enter Site EN</button>
            </a>
        </div>
        
    </div>
</body>
</html>