{% extends 'core/base.html' %}

{% block content %}
<h1 class="text-2xl font-bold mb-4 text-center">News</h1>

<div class="events-section" style="width: 100%; max-width: 600px; margin: 0 auto; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h2></h2>
    {% if events %}
        {% for event in events %}
            <div class="event-card" style="background-color: #f9f9f9; border-radius: 8px; padding: 15px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 100%;">
                <h3 class="text-center"><strong>{{ event.title }}</strong></h3>
                <p class="text-center"><strong>Date:</strong> {{ event.event_date }}</p>
                <p class="text-center">{{ event.description }}</p>
                {% if event.event_image %}
                    <img src="{{ event.event_image.url }}" alt="{{ event.title }}" style="max-width: 100%; height: auto; border-radius: 8px; display: block; margin: 0 auto;"/>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center">No events found.</p>
    {% endif %}
</div>
{% endblock %}
