{% extends 'core/base.html' %}
{% block content %}
  <h1>{{ user.username }}'s Profile</h1>
  <div class="posts-container" style="display: flex; flex-direction: column; align-items: center; gap: 15px;">
    <div class="post-card" style="width: 100%; max-width: 600px; background-color: white; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding: 15px;">
      <strong>{{user.username}} </strong>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Post</button>
      </form>
    </div>
  <ul>
    {% for tweet in tweets %}
      <li>
    <div class="post-card" style="width: 100%; max-width: 600px; background-color: white; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding: 15px;">

        {% if tweet.anonymous %}
          <strong>Anonymous</strong>: {{ tweet.content }}<br>
        {% else %}
          <strong>{{ tweet.author.username }}</strong>: {{ tweet.content }}<br>
        {% endif %}
        <div class="post-actions" style="display: flex; justify-content: space-between; padding: 10px 0; border-top: 1px solid #eee;">
          <div>
              <span>Likes: </span><span id="likes-{{ tweet.id }}" data-number="{{ tweet.likes.count }}">{{ tweet.likes.count }}</span>
              <span>Comments: </span> <span id="comments-{{ tweet.id }}" data-number="{{ tweet.get_comment_count }}">{{ tweet.get_comment_count }}</span>
          </div>
          <div>
              <form id="like-form-{{ tweet.id }}" method="POST" action="{% url 'like_tweet' tweet.id %}" style="display:inline;">
                  {% csrf_token %}
                  <span id="like-icon-{{ tweet.id }}" class="like-icon" style="cursor: pointer;" onclick="likeTweet({{ tweet.id }})">
                      {% if user in tweet.likes.all %}
                      <i class="fa fa-heart" style="color:red;"></i> 
                      {% else %}
                      <i class="fa fa-heart" style="color:black;"></i>
                      {% endif %}
                  </span>
              </form>
              <a href="{% url 'tweet_detail' tweet.id %}" style="text-decoration: none; color: inherit; margin-left: 15px;">
                  <i class="fa fa-comment"></i> Comment
              </a>
          </div>
        <!-- Display comments -->
      </div>
      </li>
    {% empty %}
      <li>No tweets yet.</li>
    {% endfor %}
  </ul>
{% endblock %}

{% comment %} 
<ul>
  {% for comment in tweet.comments.all %}
    <li>{{ comment.author }}: {{ comment.content }}</li>
  {% empty %}
    <li>No comments yet.</li>
  {% endfor %}
</ul> {% endcomment %}